# ignore python files
**/__pycache__/
.pyc
*.pyc
*.pyd
*.egg-info/
build
dist

# vscode files
.vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/